<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body>

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">Natasha Ravinand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link" href="/about">About Me</a>
      </div>
    </div>
  </nav>

  <div class="container landing-greeting">
    <div class="row">
      <div class="col-lg greeting-text" data-aos="fade-right" data-aos-duration="1100">
        <h1>Hello, there! My name is <span class="pink-underline">Natasha Ravinand</span>.</h1>
        <h3>I'm an undergraduate student at Yale University studying Statistics & Data Science. I'm interested in <span class="pink-underline">technology, big data, climate, and health</span>.</h3>
        <p>I'm always looking to get involved with interesting ventures. Feel free to reach out below!</p>
        <div class="landing-btns">
          <a href="mailto:natasha.ravinand@yale.edu" target="_blank"><button type="button" class="btn btn-outline-dark btn-lg">Email</button></a>
          <a href="https://www.linkedin.com/in/natasharavinand/" target="_blank"><button type="button" class="btn btn-outline-dark btn-lg">LinkedIn</button></a>
          <a href="https://github.com/natasharavinand" target="_blank"><button type="button" class="btn btn-outline-dark btn-lg">GitHub</button></a>
        </div>
      </div>
      <div class="col-lg" data-aos="fade-left" data-aos-duration="1100">
        <img id="landing-img" src="images/headshot.png" />
      </div>
    </div>
  </div>

</body>

<%- include('partials/footer'); %>
