/* Website wide*/
::-moz-selection {
  background-color: #f78279;
  color: #fff;
}

::selection {
  background-color: #f78279;
  color: #fff;
}

body {
  font-family: 'Raleway';
  background-color:#faf5f5;
  min-height: 100%;
}

.container {
  position: relative;
}

.navbar a {
  font-family: 'Montserrat' !important;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.pink-underline {
  text-decoration: underline;
  text-decoration-color: #f78279;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: 500;
}

.footer {
}

/* Landing styling */
.landing-greeting {
  margin-top: 8%;
}

.landing-greeting img {
  margin-top: 11%;
  max-width: 65%;
  height: auto;
  margin-left: 10%;
}

.landing-greeting button {
  padding-left: 6%;
  padding-right: 6%;
  margin: 2.5%;
}

.greeting-text {
  margin-right: 8%;
}

.greeting-text h1 {
  font-weight: 400;
  margin-bottom: 6%;
}

.greeting-text h3 {
  font-weight: 300;
}

.greeting-text p {
  margin-top: 5%;
}

/* About Me styling */
.about-me {
  margin-top: 2%;
}

.about-me-header {
  font-weight: 400;
  margin-bottom: 3%;
}

.tech-proficiencies {
  margin-top: 4%;
}

.about-me img {
  border-radius: 10%;
  width: 99%;
  height: auto;
  margin-top: 4%;
  margin-bottom: 5%;
}

.tech-header {
  margin-top: 1.5%;
  font-weight: 500;
}
